<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Eliminar cliente</h2>
    <form id="deleteClientForm" action="/clientes/bajaCli/:id?_method=DELETE" method="POST">  <!--  -->
        <label for="nombre">Digite el Id:</label>
        <input type="text" id="id" name="id" required><br>
        <input type="hidden" name="_method" value="DELETE"> <!-- Campo oculto para indicar que es una solicitud DELETE -->
        <button type="button" onclick="submitForm()">Eliminar Cliente</button>
    </form>

    <script>
        function submitForm() {
            // Obtener el valor del campo de entrada del ID
            var id = document.getElementById('id').value;
            
            // Asignar el valor del ID al action del formulario
            var form = document.getElementById('deleteClientForm');
            form.action = "/clientes/bajaCli/" + id;

            // Enviar el formulario
            form.submit();
        }
    </script>

</body>
</html>
