<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Agregar cliente</h2>
    <form action="/clientes/alta" method="POST">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="email">Email:</label>
        <input type="email" name="email" id="email"><br>

        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion"><br>

        <label for="telefono">Teléfono:</label>
        <input type="tel" name="telefono" id="telefono"><br>

        <button type="submit">Agregar Cliente</button>
    </form>
</body>
</html>
