<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/clientes">Clientes</a>
            <ul>
                <li><a href='/clientes/alta'>Alta</a></li>
                <li><a href='/clientes/baja'>Baja</a></li>
            </ul>
        
        </li>
        <li><a href="/categorias">Categorías</a></li>
        <li><a href="/comidas">Comidas</a></li>
    </ul>
</nav>